/*google font*/
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,800,900&display=swap');

html {
    scroll-behavior: smooth;
}
body{
	background: rgb(46, 14, 185);
background: linear-gradient(90deg, rgb(150, 157, 190) 0%, rgb(47, 17, 177) 35%, rgb(129, 117, 117) 100%);
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins',sans-serif !important;
	
}
.navbar{
	position: fixed;
	top: 0;
	z-index: 99999;
	padding:25px 0;
}
.navbar .logo{
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: 750;
	letter-spacing: 2px;
}
.navbar ul.nav{
	margin-right: 15%;
}
.navbar ul.nav li.active,
.navbar ul.nav li:hover{
	background:rgba(255, 255, 255, 0.5);
	color: #000;

}
.navbar ul.nav li a{
	color: #fff;
	font-size: 1em;
	font-weight: 500;
}
.navbar ul.nav li.active a,
.navbar ul.nav li:hover a{
	color: #000;
}

/*slider*/
#carouselExampleIndicators{
	position: relative;
	height: 100vh;
	width: 100%;
    
}
#carouselExampleIndicators .carousel-inner{
	position: relative;
	height: 100%;
	width: 100%;
	background: #000;
}
#carouselExampleIndicators .carousel-inner:before{
	position: absolute;
	content: '';
	background: rgba(0, 0, 0, 0.45);
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
}
#carouselExampleIndicators .carousel-inner .carousel-item{
	position: relative;
	height: 100%;
	width:100%;
	background: url('http://a.mktgcdn.com/p/_TBE6uUEiZ0_KFT5bW0jsTyqzRIkVzGF1-4hTvIeJEY/2500x1667.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}
#carouselExampleIndicators .carousel-inner .carousel-item:nth-child(2){
	background: url('https://mongooseagency.com/files/3415/9620/1413/Return_of_Sports.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}
#carouselExampleIndicators .carousel-inner .carousel-item:nth-child(3){
	background: url('https://cdn-res.keymedia.com/cms/images/ca/155/0319_637171637373959129.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

#carouselExampleIndicators .carousel-inner .carousel-item .info{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	height: auto;
	width: 100%;
	z-index: 1;
	text-align: center;
}
#carouselExampleIndicators .carousel-inner .carousel-item h1{
	height: auto;
	color: #fff;
	width: 100%;
	z-index: 1;
	text-align: center;
	font-size: 5.5em;
	font-weight: 750;
}
#carouselExampleIndicators .carousel-inner .carousel-item p{
	height: auto;
	color: #ccc;
	width: 100%;
	z-index: 1;
	text-align: center;
	font-size: 1.2em;
	font-weight: 500;
}
footer{
    background-color: #000;
}
.h2{
    color: white;
}

.container-fluid{
	background-color: black;
	
}
.img_link{
	text-decoration: none !important;
	color: white;
}

#portfolio{
	color: white;
	
}
.img_link:hover{
	text-decoration: none !important;
	color: white;
}
